@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-base {
    border-width: .25rem;
    border-style: solid;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

.loader-text {
    padding-top: 1rem;
}