.super-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #424D6B;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  transition: all 0.3s;
}

.super-chart.zoomed {
  transform: scale(1.5, 1.5);
}

.super-chart h1 {
  color: whitesmoke;
  margin: 0;
}

.super-chart svg {
  margin: 15px 0;
  border: solid 1px #4E5A7D;

  /*transform-origin: 50% 50%;*/
  /*transform: rotate(180deg);*/
}

.super-chart__analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}