body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1E2230;
}

.App {
  text-align: center;
}
